.card-text {
  width: 100%;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6.2em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin-bottom: 0.5rem;
}

.card-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.title {
  width: 80%;
}

.title-action {
  display: flex;
}

img {
  width: 20px;
  height: 20px;
  margin: 5px;
}
