<h1 style="text-align: center;" class="m-30">Welcom to post board</h1>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="assets/images/plus.svg" class="icon-100" alt="image" (click)="addItem()">
    </div>
    <ng-container *ngFor="let item of arrayOfItems; let i = index;">
      <div class="card">
        <app-item
          [item]="item"
          (view)="viewItem(i)"
          (edit)="editItem(i)"
          (delete)="deleteItem(i)">
        </app-item>
      </div>
    </ng-container>
  </div>
</div>

<div id="modal-add-edit" class="modal">

  <div *ngIf="itemMarkedForEdit" class="modal-content">
    <div class="row">
      <div class="col-2">
        <p *ngIf="isAddModal">Add</p>
        <p *ngIf="!isAddModal">
          <ng-container *ngIf="viewMode; else edit">View</ng-container>
          <ng-template>Edit</ng-template>
        </p>
      </div>
      <div class="col-10">
        <span class="close-modal" (click)="closeModal('modal-add-edit')">&times;</span>
      </div>
    </div>
    <form [formGroup]="bookForm">

      <div class="form-group">
        <label for="author">Author</label>
        <input [readOnly]="viewMode" id="author" type="text" class="form-control" formControlName="author" required>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea [readOnly]="viewMode" id="content" rows="4" class="form-control" formControlName="content" required></textarea>
      </div>

      <button *ngIf="!viewMode" type="submit" class="btn btn-success" [disabled]="!bookForm.valid" (click)="submitForm()">Submit</button>

    </form>
  </div>
</div>